Connected Services/Historia/Ficha_0281.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://serviciosweb.ecoopsos.com.co/Ecoopsos.WebServices/PromocionyPrevencion/Ficha_028.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ecoopsos.Entity.PromocionyPrevencion" />
  <xs:element name="CargarFicha028">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ecoopsos.Entity.PromocionyPrevencion" minOccurs="0" name="Ficha" nillable="true" type="q1:ArrayOfFicha_028EL" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarFicha028Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ecoopsos.Entity.PromocionyPrevencion" minOccurs="0" name="CargarFicha028Result" nillable="true" type="q2:ArrayOfResultadoFicha_028EL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaFicha028">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Carnet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaFicha028Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ecoopsos.Entity.PromocionyPrevencion" minOccurs="0" name="VerificaFicha028Result" nillable="true" type="q3:VerificaFicha_028EL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>