Connected Services/Historia/Ficha_028.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Ficha_028" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://serviciosweb.ecoopsos.com.co/Ecoopsos.WebServices/PromocionyPrevencion/Ficha_028.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://serviciosweb.ecoopsos.com.co/Ecoopsos.WebServices/PromocionyPrevencion/Ficha_028.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://serviciosweb.ecoopsos.com.co/Ecoopsos.WebServices/PromocionyPrevencion/Ficha_028.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ecoopsos.Entity.PromocionyPrevencion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFicha_028_CargarFicha028_InputMessage">
    <wsdl:part name="parameters" element="tns:CargarFicha028" />
  </wsdl:message>
  <wsdl:message name="IFicha_028_CargarFicha028_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargarFicha028Response" />
  </wsdl:message>
  <wsdl:message name="IFicha_028_VerificaFicha028_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificaFicha028" />
  </wsdl:message>
  <wsdl:message name="IFicha_028_VerificaFicha028_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificaFicha028Response" />
  </wsdl:message>
  <wsdl:portType name="IFicha_028">
    <wsdl:operation name="CargarFicha028">
      <wsdl:input wsaw:Action="http://tempuri.org/IFicha_028/CargarFicha028" message="tns:IFicha_028_CargarFicha028_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFicha_028/CargarFicha028Response" message="tns:IFicha_028_CargarFicha028_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificaFicha028">
      <wsdl:input wsaw:Action="http://tempuri.org/IFicha_028/VerificaFicha028" message="tns:IFicha_028_VerificaFicha028_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFicha_028/VerificaFicha028Response" message="tns:IFicha_028_VerificaFicha028_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFicha_028" type="tns:IFicha_028">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarFicha028">
      <soap:operation soapAction="http://tempuri.org/IFicha_028/CargarFicha028" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaFicha028">
      <soap:operation soapAction="http://tempuri.org/IFicha_028/VerificaFicha028" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ficha_028">
    <wsdl:port name="BasicHttpBinding_IFicha_028" binding="tns:BasicHttpBinding_IFicha_028">
      <soap:address location="http://serviciosweb.ecoopsos.com.co/Ecoopsos.WebServices/PromocionyPrevencion/Ficha_028.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>